.includedSection {
  padding: 0 1rem;
  max-width: 1100px;
  margin: 0 auto;
  text-align: left;
}

.includedSection h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.includedItem {
  display: flex;
  margin-bottom: 3rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.reverse {
  flex-direction: row-reverse;
}

.includedItem img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.text {
  flex: 1;
  min-width: 250px;
}

.includedItem h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.includedItem p {
  font-size: 1rem;
  color: #555;
}

/* Responsividade */
@media (max-width: 768px) {
  .includedItem {
    flex-direction: column;
    text-align: center;
  }

  .reverse {
    flex-direction: column;
  }

  .includedItem img {
    max-width: 100%;
  }

  .text {
    text-align: center;
  }
}
