.features {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-block: 5rem;
}

.features h2 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.featuresContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.featureCard {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s;
}

.featureCard:hover {
  transform: translateY(-4px);
}

.featureCard span {
  font-size: 1.5rem;
}

/* Responsivo */
@media (max-width: 768px) {
  .featuresContainer {
    flex-direction: column;
    align-items: center;
  }

  .featureCard {
    width: 90%;
    justify-content: center;
  }
}
