/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid #eee;
  width: 100vw;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1850px;
  width: 100%;
  height: 100%;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bolder;
  font-size: 1.3rem;
}

.logo .dot {
  color: black;
}

.menu-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  gap: 50px;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.nav a:hover {
  color: black;
}

.get-started button {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 8px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
}

.get-started button:hover {
  background-color: #1976d2;
}

.mobile-menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Mobile menu */
.mobile-menu {
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 90px; 
}

.mobile-menu a {
  text-decoration: none;
  color: #555;
}

.mobile-menu a:hover {
  color: black;
}

.mobile-menu button {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .get-started {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu {
    display: flex;
    border-top: 1px solid #eee;
    background-color: white;
  }
}
