.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #f8f9fb;
  border-right: 1px solid #e0e0e0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', sans-serif;
}


.menuSidebar {
  flex: 1;
}

.menuSidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 14px 24px;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.menu-item:hover {
  background-color: #eeeeee;
}

.menu-item.active {
  background-color: #e0e7ff;
  font-weight: bold;
  border-left: 4px solid #4f46e5;
}
