.info-section {
  padding: 4rem 1rem;
}

.info-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.text-content {
  flex: 1 1 400px;
}

.image-content {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
  width: 500px;
  height: 450px;
 
}

.info-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #222;
}

.info-description {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #555;
}

.info-button {
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.info-button:hover {
  background-color: #0056b3;
}

.info-image {
  max-width: 100%;
  border-radius: 10px;
}

/* Responsivo */
@media (max-width: 768px) {
  .info-content {
    flex-direction: column;
    text-align: center;
  }

  .text-content, .image-content {
    flex: 1 1 100%;
  }
}
